.cell {
  width: 8rem;
  height: 8rem;
  border: 2px solid #222831;
  display: flex;
  background-color: white;
  //for deleting extra border
  margin-right: -2px;
  margin-top: -2px;
  cursor: pointer;

  img {
    width: 5rem;
    height: 5rem;
    margin: auto;
  }
}

.cell:hover:not([disabled]) {
  background-color: #e8e8e8;
}

.cell:disabled {
  cursor: not-allowed;
}

.cell.not-active {
  background-color: rgba(#3a505a, 0.5);
}
